    /*want to add a gradient from a dark grey to black*/
    html{
        background-color: black;
        color: whitesmoke;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: -10px;
    }

    /*header, last 3 letters have to be black with white outline*/
    .header h1{
        text-align: center;
        border-bottom: 5px solid #80808083;
        padding-bottom: 1em;
        
    }

    .logo{
        margin-bottom: 0.5em;
        height: 10em;
        width: auto;
        margin-top: 0.5em;
    }
    .header{
        border-bottom: 4px grey solid;
        border-radius: 2px;
        background-color: black;
        text-align: center;
        box-shadow: 0 0 15px rgba(119, 119, 119, 0.185),
                    0 0 75px rgba(177, 177, 177, 0.397);
    }

    /*nav, see if i can work with percentages, make a mobile phone compatible*/
    body{
        position: fixed;
        height: 100%;
        width: 99.9%;
    }
    .navigation{
        background-image: url("5bced84fba221af9e0b8bdb1a7ce51a0.jpg");
        height: 100%;
        width: 100%;
        position: relative;

    }
    a{
        text-decoration: none;
    }

    .contact{
        border: 3px dotted white;
        border-radius: 50%;
        padding: 70px 20px;
        font-size: 30px;
        position: absolute;
        top: 9%;
        left: 18%;
        color: whitesmoke;
        background-color: black;
        text-shadow: 2px 1px rgba(128, 128, 128, 0.253);
    }

    .contact:hover{
        border: 4px outset white;
        background-color: grey;
        transition: 0.2s;
        transition-delay: 0.2s;
    }

    .about{
        border: 3px dotted white;
        border-radius: 50%;
        padding: 70px 20px;
        font-size: 30px;
        position: absolute;
        top: 15%;
        left: 50%;
        color: whitesmoke;
        background-color: black;
        text-shadow: 2px 1px rgba(128, 128, 128, 0.253);
    }

    .about:hover{
        border: 4px outset white;
        background-color: grey;
        transition: 0.2s;
        transition-delay: 0.2s;
    }


    .map{
        border: 3px dotted white;
        border-radius: 50%;
        padding: 75px 20px;
        font-size: 30px;
        position: absolute;
        top: 40%;
        left: 22%;
        color: whitesmoke;
        background-color: black;
        text-shadow: 2px 1px rgba(128, 128, 128, 0.253);
    }

    .map:hover{
        border: 4px outset white;
        background-color: grey;
        transition: 0.2s;
        transition-delay: 0.2s;
    }

    .price{
        border: 3px dotted white;
        border-radius: 50%;
        padding: 60px 20px;
        font-size: 30px;
        position: absolute;
        top: 12%;
        left: 76%;
        color: whitesmoke;
        background-color: black;
        text-shadow: 2px 1px rgba(128, 128, 128, 0.253);
    }

    .price:hover{
        border: 4px outset white;
        background-color: grey;
        transition: 0.2s;
        transition-delay: 0.2s;
    }
    .rev{
        border: 3px dotted white;
        border-radius: 50%;
        padding: 85px 20px;
        font-size: 30px;
        position: absolute;
        top: 45%;
        left: 50%;
        color: whitesmoke;
        background-color: black;
        text-shadow: 2px 1px rgba(128, 128, 128, 0.253);
    }

    .rev:hover{
        border: 4px outset white;
        background-color: grey;
        transition: 0.2s;
        transition-delay: 0.2s;
    }

    .galeria{
        border: 3px dotted white;
        border-radius: 50%;
        padding: 55px 25px;
        font-size: 30px;
        position: absolute;
        top: 45%;
        left: 75%;
        color: whitesmoke;
        background-color: black;
        text-shadow: 2px 1px rgba(128, 128, 128, 0.253);
    }

    .galeria:hover{
        border: 4px outset white;
        background-color: grey;
        transition: 0.2s;
        transition-delay: 0.2s;
    }

    .footer{
        border-top: 4px grey solid;
        border-radius: 2px;
        background-color: black;
        box-shadow: 0 0 15px rgba(119, 119, 119, 0.185),
                    0 0 75px rgba(177, 177, 177, 0.397);
        position: fixed;
        margin-top: 150px;
        margin-left: -10px; 
        width: 100%;
        height: 20%;
        padding: 10px;
        top: 70%;
    }

    .phone{
        height: auto;
        width: 40px;
        background-color: whitesmoke;
        border-radius: 15%;
        padding: 5px;
        margin: 0px 15px -20px 5px;
    }

    .mail{
        height: auto;
        width: 40px;
        background-color: whitesmoke;
        border-radius: 15%;
        padding: 5px;
        margin: 30px 15px -20px 5px;
    }

    .fb{
        height: auto;
        width: 40px;
        background-color: whitesmoke;
        border-radius: 15%;
        padding: 5px;
        margin: 0px 15px -20px 5px;
        border: 1px solid black;
    }
    .fb:hover{
        background-color: grey;
        border: 2px solid white;
    }
    .insta:hover{
        background-color: grey;
        border: 2px solid white;
    }
    .insta{
        height: auto;
        width: 40px;
        background-color: whitesmoke;
        border-radius: 15%;
        padding: 5px;
        margin: 0px 15px -20px 5px;
    }
    .social h2{
        margin-top: 30px;
        text-align: center;
    }
    .icons{
        text-align: center;
    }
    .social{
        position: absolute;
        left: 6%;
        top: 52.5%;
        height: 200px;
        width: 340px;
        padding: 15px;
        border: rgba(189, 189, 189, 0.356) 2px solid;
        border-radius: 20px;
        background-color: rgb(17, 17, 17);
    }
    .cont h1{
        font-size: 30px;
    }
    .cont{
        position: absolute;
        left: 6%;
        top: 21.8%;
        height: 220px;
        width: 340px;
        padding: 15px;
        border: rgba(189, 189, 189, 0.356) 2px solid;
        border-radius: 20px;
        background-color: rgb(17, 17, 17);
        font-size: 16px;
    }

    .list{
        margin: 0px;
        margin-left: 30px;
        font-size: 12px;
        display: inline-flex;
    }
    .list a{
        margin: 5px;
        color: whitesmoke;
    }

    .list a:hover{
        color: grey;
    }
    .gym{
        margin-bottom: -30px;
        margin-left: 20px;
        font-weight: bold;
    }

    .author{
        text-align: center;
    }


    .hours{
        border: 2px solid grey;
        position: absolute;
        left: 67.5%;
        top: 21.8%;
        height: 500px;
        width: 550px;
        word-spacing: 10px;
        padding: 0px 15px 15px 15px;
        border: rgba(189, 189, 189, 0.356) 2px solid;
        border-radius: 20px;
        background-color: rgb(17, 17, 17);
        margin-bottom: -550px;
        z-index: 99999;
    }

    .hours p{
        font-size: 22px;
        text-align: center;
    }

    .hours h2{
        font-size: 40px;
        text-align: center;
    }

    .im{
        height: 22.5em ;
        width: auto;
    }
    
    .ll{
        position: absolute;
        top: 30%;
        left: 40%;
    }

    .hourslimit1600{
        border: 2px solid grey;
        position: absolute;
        position: end;
        left: 64.5%;
        top: 21.8%;
        height: 550px;
        width: 450px;
        word-spacing: 10px;
        padding: 0px 15px 15px 15px;
        border: rgba(189, 189, 189, 0.356) 2px solid;
        border-radius: 20px;
        background-color: rgb(17, 17, 17);
        margin-bottom: -550px;
        z-index: 99999;
    }
    @media (max-width: 1800px) and (min-width: 1501px){
        .hours{
            border: 2px solid grey;
            position: absolute;
            position: end;
            left: 64.5%;
            top: 21.8%;
            height: 550px;
            width: 450px;
            word-spacing: 10px;
            padding: 0px 15px 15px 15px;
            border: rgba(189, 189, 189, 0.356) 2px solid;
            border-radius: 20px;
            background-color: rgb(17, 17, 17);
            margin-bottom: -550px;
            z-index: 99999;
        }
    }
    @media (max-width: 1500px) and (min-width: 1300px) and (min-height: 700px) {
        .logo{
            margin-bottom: 0.5em;
            height: 7.5em;
            width: auto;
            margin-top: 0.5em;
        }
    
        .hours{
            border: 2px solid grey;
            position: absolute;
            left: 66.5%;
            top: 22.8%;
            height: 400px;
            width: 400px;
            word-spacing: 10px;
            padding: 0px 15px 15px 15px;
            border: rgba(189, 189, 189, 0.356) 2px solid;
            border-radius: 20px;
            background-color: rgb(17, 17, 17);
            margin-bottom: -550px;
            z-index: 99999;
        }
    
        .hours p{
            font-size: 18px;
            text-align: center;
        }
    
        .hours h2{
            font-size: 30px;
            text-align: center;
        }
    
        .im{
            height: 18em ;
            width: auto;
        }
    
        .footer{
            border-top: 4px grey solid;
            border-radius: 2px;
            background-color: black;
            box-shadow: 0 0 15px rgba(119, 119, 119, 0.185),
                        0 0 75px rgba(177, 177, 177, 0.397);
            position: fixed;
            margin-top: 150px;
            margin-left: -10px; 
            width: 100%;
            height: 20%;
            padding: 10px;
            top: 62.8%;
        }
        .cont h1{
            font-size: 25px;
        }
    
        .social{
            position: absolute;
            left: 6%;
            top: 52.5%;
            height: 150px;
            width: 300px;
            padding-bottom: 30px;
            border: rgba(189, 189, 189, 0.356) 2px solid;
            border-radius: 20px;
            background-color: rgb(17, 17, 17);
        }
    
        .cont{
            position: absolute;
            left: 6%;
            top: 20.8%;
            height: 190px;
            width: 270px;
            padding: 15px;
            border: rgba(189, 189, 189, 0.356) 2px solid;
            border-radius: 20px;
            background-color: rgb(17, 17, 17);
            font-size: 14px;
        }
        .list{
            margin: 0px;
            margin-left: 30px;
            font-size: 12px;
            display: inline-flex;
        }
    }