    /*want to add a gradient from a dark grey to black*/
    html{
        background-color: black;
        color: whitesmoke;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: -10px;
    }

    .body{
        position: absolute;
        display: inline-flex;
        flex-direction: row;
        height: 90%;
        width: 100%;
        top: 10%;
        background-image: url('astronomy-bright-constellation-dark-wallpaper.jpg');
    }
    .acc{
        border-right: 3px solid black;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        background-color: hsl(0, 0%, 0%, 0.5);
    }

    .serv{
        height: 100%;
        width: 50%;
        border-left: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        background-color: hsl(0, 0%, 0%, 0.5);
        }

    .acc:hover{
        transition-duration: 0.5s;
        width: 80%;
        background-color: rgb(105, 105, 105, 0.8%);
        border-right: 3px solid whitesmoke;
    }
    .acc:hover .serv{
        width: 20%;
        transition-duration: 0.5s;
        background-color: rgb(0, 0, 0);
    }
    .serv:hover{
        transition-duration: 0.5s;
        width: 80%;
        background-color: rgb(105, 105, 105, 0.8%);
        border-left: 3px solid whitesmoke;
    }
    .serv:hover .acc{
        width: 20%;
        transition-duration: 0.5s;
        background-color: rgb(0, 0, 0);
    }

    .title{
        margin-left: 2%;
        font-size: 15px;
    }
    a{
        text-decoration: none;
        color: whitesmoke;
    }

    ul li a{
        text-decoration: none;
        color: whitesmoke;
        margin: 10px;
        font-size: 25px;
    }
    .nav{
        text-decoration: underline; 
        list-style-type: none;
        justify-content: flex-end;
        width: 100%;
        display: flex;
        margin: 20px;
        position: relative;
    }
    #header{
        position: fixed;
        border-bottom: 3px seashell solid;
        border: inset 20px seashell solid;
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: -0.5%;
        background-color: rgb(0, 0, 0, 1);
        background-image: url('R.jfif');
        
    }

    .catalogo{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 100%;
        top: 10%;
        background-image: url('astronomy-bright-constellation-dark-wallpaper.jpg');
    }

    .card{
        display: absolute;
        background-color: rgb(0, 0, 0, 0.8);
        border-radius: 25px;
        border: 3px solid whitesmoke;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: row;
    }

    .card img{
        margin-top: 20px;
        width: 70%;
        border: black solid 6px;
    }

    .picture{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: solid green 3px;
        align-items: center;
    }

    .picture h4{
        width: 75%;
        margin-top: -18px;
        font-weight: bold;
        text-align: center;
    }
    .picture h3{
        margin: 0px 20px;
        text-align: center;
    }

    .description{
        width: 60%;
        padding: 20px;
    }
