    /*want to add a gradient from a dark grey to black*/
    html{
        background-color: black;
        color: whitesmoke;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: -10px;
    }
    html{
        background-image: url('astronomy-bright-constellation-dark-wallpaper.jpg');
    }
    .body{
        position: absolute;
        display: inline-flex;
        flex-direction: row;
        height: 90%;
        width: 100%;
        top: 10%;
        background-image: url('astronomy-bright-constellation-dark-wallpaper.jpg');
    }
    .acc {
        border-right: 3px solid black;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        background-color: hsl(0, 0%, 0%, 0.5);
        text-decoration: underline;
    }
    .acc a{
        height: auto;
        width: 100%;
        text-align: center;
    }
    .serv a{
        height: auto;
        width: 100%;
        text-align: center;
    }
    .serv{
        height: 100%;
        width: 50%;
        border-left: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        background-color: hsl(0, 0%, 0%, 0.5);
        text-decoration: underline;   
    }

    .acc:hover{
        transition-duration: 0.5s;
        width: 80%;
        background-color: rgb(105, 105, 105, 0.8%);
        border-right: 3px solid whitesmoke;
        text-decoration: none; 
        text-shadow: 1px 1px 2px black, 0 0 0.5em black, 0 0 0.2em black;
    }
    .acc:hover .serv{
        width: 20%;
        transition-duration: 0.5s;
        background-color: rgb(0, 0, 0);
    }
    .serv:hover{
        transition-duration: 0.5s;
        width: 80%;
        background-color: rgb(105, 105, 105, 0.8%);
        border-left: 3px solid whitesmoke;
        text-decoration: none; 
        text-shadow: 1px 1px 2px black, 0 0 0.5em black, 0 0 0.2em black;
    }
    .serv:hover .acc{
        width: 20%;
        transition-duration: 0.5s;
        background-color: rgb(0, 0, 0);
    }

    .title{
        margin-left: 20px;
        font-size: 15px;
    }
    a{
        text-decoration: none;
        color: whitesmoke;
    }

    ul li a{
        text-decoration: none;
        color: whitesmoke;
        margin: 8px;
        font-size: 20px;
    }
    .nav{
        text-decoration: underline; 
        list-style-type: none;
        justify-content: flex-end;
        width: 100%;
        display: flex;
        margin-right: 10px;
        position: relative;
    }
    #header{
        position: fixed;
        border-bottom: 3px seashell solid;
        border: inset 20px seashell solid;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: -0.5%;
        background-color: rgb(0, 0, 0, 1);
        background-image: url('R.jfif');
        z-index: 9999;
        
    }

    .catalogo{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 99%;
        top: 10%;
        
    }

    .card{
        display: flex;
        background-color: rgb(0, 0, 0, 0.8);
        border-radius: 25px;
        border: 3px solid whitesmoke;
        width: 90%;
        margin-top: 70px;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 25px;
    }

    .card img{
        margin-top: 20px;
        width: 70%;
        border: black solid 6px;
    }

    .picture{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
    }

    .picture h4{
        width: 75%;
        margin-top: -18px;
        font-weight: bold;
        text-align: center;
    }
    .picture h3{
        margin: 0px 20px;
        text-align: center;
    }


    #smart-button-container{
        margin-top: 50px;
    }

    .acc a h1{
        width: 100%;
        height: 100%;
        
    }

    form{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
    .choice{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .choice a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .one{
        text-align: center;
        margin: 0px 25%;
        margin-top: -15px;
    }

    .head{
        font-size: 25px;
        
    }

    .ansbox{
        width: 100%;
        height: 4.5%;
        border: 2px solid rgb(180, 236, 230);
        border-radius: 20px;
        font-size: 18px;
        margin-top: -10px;
    }   

    .submit{
        font-size: 22px;
        padding: 15px;
        border: 2px solid rgb(180, 236, 230);
        border-radius: 20px;
    }

    .submit:hover{
        background-color: rgb(128, 128, 128, 0.5);
        transition-duration: 0.3s;
    }

    .description{
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 45%;
        align-items: center;
    }
    .how{
        font-size: 30px;
    }
    .explain{
        font-size: 20px;
    }
    .space{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price{
        font-size: 40px;
    }

    .number{
        font-size: 40px;
        margin-left: 8px;
        text-shadow: 0.5px 0.5px 1px rgba(180, 236, 230, 0.685), 0 0 0.3em rgba(180, 236, 230, 0.637), 0 0 0.1em rgba(180, 236, 230, 0);
    }

    .buy{
        border: 2px solid rgb(180, 236, 230);
        width: 200px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
    }

    .buy:hover{
        transition-duration: 0.5s;
        background-color: rgb(180, 236, 230);
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.685), 0 0 0.3em rgba(0, 0, 0, 0.637), 0 0 0.1em rgba(0, 0, 0, 0);
    }

    .paypal{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #smart-button-container{
        width: 100%;
        line-height: 100px;
    }
    .catalogoa{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 87%;
        width: 99%;
        top: 10%;
    }
    .carda{
        display: absolute;
        background-color: rgb(0, 0, 0, 0.8);
        border-radius: 25px;
        border: 3px solid whitesmoke;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 25px
    }
    @media screen and (max-width:950px){
        .body{
            flex-direction: column;
        }
        .acc {
            border-bottom: 3px solid black;
            border-right: none;
            height: 100%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            background-color: hsl(0, 0%, 0%, 0.5);
            text-decoration: underline;
        }
        .acc a{
            height: auto;
            width: 100%;
            text-align: center;
        }
        .serv a{
            height: auto;
            width: 100%;
            text-align: center;
        }
        .serv{
            border-top: 3px solid black;
            height: 100%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            background-color: hsl(0, 0%, 0%, 0.5);
            text-decoration: underline;   
        }
    
        .acc:hover{
            transition-duration: 0.5s;
            height: 180%;
            width: auto;
            background-color: rgb(105, 105, 105, 0.8%);
            border-bottom: 3px solid whitesmoke;
            text-decoration: none; 
            text-shadow: 1px 1px 2px black, 0 0 0.5em black, 0 0 0.2em black;
        }
        .acc:hover .serv{
            height: 20%;
            transition-duration: 0.5s;
            background-color: rgb(0, 0, 0);
        }
        .serv:hover{
            transition-duration: 0.5s;
            height: 180%;
            width: auto;
            background-color: rgb(105, 105, 105, 0.8%);
            border-top: 3px solid whitesmoke;
            text-decoration: none; 
            text-shadow: 1px 1px 2px black, 0 0 0.5em black, 0 0 0.2em black;
            border-right: 3px solid whitesmoke;
        }
        .serv:hover .acc{
            height: 20%;
            transition-duration: 0.5s;
            background-color: rgb(0, 0, 0);
        }
        .catalogo{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            height: auto;
            width: 99%;
            top: 10%;
            margin-top: 70px;
        }
    
        .card{
            display: flex;
            background-color: rgb(0, 0, 0, 0.8);
            border-radius: 25px;
            border: 3px solid whitesmoke;
            width: 90%;
            margin-top: 70px;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .description{
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;
        }
        .picture{
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;
            margin-left: 0px;
        }
    }
    @media screen and (max-width:650px) {
        .card{
            display: flex;
            background-color: rgb(0, 0, 0, 0.8);
            border: none;
            border-radius: 0px;
            width: auto;
            margin: auto;
            margin-top: 70px;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-right: -5%;
            border-top: 3px solid whitesmoke;
            border-bottom: 3px solid whitesmoke;
        }
        .catalogo{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            height: auto;
            width: 100%;
            top: 10%;
            margin-top: 70px;
        }
        #header{
            position: fixed;
            border-bottom: 3px seashell solid;
            border: inset 20px seashell solid;
            height: auto;
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: -3%;
            background-color: rgb(0, 0, 0, 1);
            background-image: url('R.jfif');
            z-index: 9999;
        }
        .space{
            width: 100%;
        }
        .head{
            font-size: 20px;
            
        }
        .ansbox{
            width: 100%;
            height: 4.5%;
            border: 2px solid rgb(180, 236, 230);
            border-radius: 20px;
            font-size: 18px;
            margin-top: -10px;
        }   
        .submit{
            font-size: 18px;
            padding: 10px;
            border: 2px solid rgb(180, 236, 230);
            border-radius: 20px;
        }
        #smart-button-container{
            width: 100%;
            line-height: 100px;
        }
        .choice{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }
        .choice a{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }
        .one{
            text-align: center;
            margin: 0px 25%;
            margin-top: -15px;
        }
        .payhead{
            line-height: 35px;
        }
    }
    @media screen and (max-width:500px){
        .catalogoa{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 100%;
            top: 10%;
        }
        .carda{
            display: absolute;
            background-color: rgb(0, 0, 0, 0.8);
            border-radius: 25px;
            border: 3px solid whitesmoke;
            align-items: center;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 25px
        }
        .one{
            text-align: center;
            margin: 0px 0px;
            margin-top: 0px;
        }
        .ansbox{
            width: 100%;
            height: 21px;
            border: 2px solid rgb(180, 236, 230);
            border-radius: 20px;
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
        }   
        .paypal{
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        #smart-button-container{
            width: 100%;
            line-height: 0px;
        }
        .choice{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }
        .choice a{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }
        .one{
            text-align: center;
            margin: 0px 25%;
            margin-top: 4px;}
    }
    @media screen and (max-width:403px){
        .payhead{
            font-size: 25px;
        }
    }
    @media screen and (max-width:400px){
        .title{font-size: 10px;}
        ul li a{font-size: 17px;}
    }

    @media screen and (max-width:280px){
        .title{font-size: 8px;}
        ul li a{font-size: 14px;}
    }
